/* style_combined.css untuk index.html */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url(bg.jpg); */
    
}

h1, h3 {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #504c4c3b;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.container p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.container a {
    display: flexbox;
    padding: 7px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    justify-content: center;
}

.container a:hover {
    background-color: #0654a7;
}

#carousel {
    width: 400px;
    height: 400px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

#carousel img {
    width: 100%;
    height: 100%;
    display: none;
}

#carousel img:first-child {
    display: block;
}

/* style_combined.css untuk form.html */
.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Penyesuaian tampilan textarea */
textarea {
    resize: vertical; /* Biarkan textarea dapat diubah ukurannya secara vertikal */
}

input[type="file"] {
    width: calc(100% - 20px); /* Penyesuaian lebar dengan padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Penyesuaian tampilan label untuk foto */
label[for="foto"] {
    display: block;
    margin-bottom: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

/* Kustomisasi label untuk radio button dan checkbox */
label[for="laki-laki"],
label[for="perempuan"],
label[for="membaca"],
label[for="menulis"],
label[for="Menyanyi"] {
    display: inline-block;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: calc(50% - 5px);
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    text-align: center;
    margin-top: 20px;
}